{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="login-box">
            <h1>Please sign in</h1>
            <div class="user-box">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                       required
                       autofocus>
            </div>
            <div class="user-box">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" required>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button type="submit" class="login-btn">
                Sign in
            </button>

            </br>
            </br>
            <div class="mb-3">
                Not already registered ? <a href="{{ path('app_register') }}">Register</a>
            </div>
            </br>

            <a href="{{ path('home') }}" class="back-btn">BACK</a>
        </div>
    </form>
{% endblock %}
