{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {{ menu | raw }}
        <h1>Free Champions Rotation</h1>
        <ul>
            {% for champion in free_champions %}
                {% if champion != null %}
                <div class="champion">
                    <a href="/champion/{{ champion.name }}">
                        <img
                                src="http://ddragon.leagueoflegends.com/cdn/10.10.3208608/img/champion/{{ champion.image.full }}"/>
                        {{ champion.name }}
                    </a>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
