{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}

    <h1>Register</h1>
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.username) }}

    <button type="submit" class="register-btn">Register</button>

    <p><a href="{{ path('app_login') }}">BACK</a></p>
    {{ form_end(registrationForm) }}
{% endblock %}
