{% extends 'base.html.twig' %}

{% block title %}{{ champion.name }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {{ menu | raw }}
        <h1>{{ champion.name }}</h1>
        <img style="display: inline-block"
             src="http://ddragon.leagueoflegends.com/cdn/10.10.3208608/img/champion/{{ champion.image.full }}"/>
        <h2>{{ champion.title }}</h2>
        <p>{{ champion.blurb }}</p>
        <p>
            <strong>
                {% for tag in champion.tags %}
                    {{ tag }}
                {% endfor %}
            </strong>
        </p>
        <p>{{ champion.partype }}</p>
        <p><strong>Infos</strong></p>
        <ul>
            {% for key, info in champion.info %}
                <li>{{ key }} : {{ info }}</li>
            {% endfor %}
        </ul>

        <p><strong>Stats</strong></p>
        <ul>
            {% for key, stat in champion.stats %}
                <li>{{ key }} : {{ stat }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
