@import url('https://fonts.googleapis.com/css?family=Oswald:500');

h1 {
    color: red;
    text-align: center;
}

.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
}

.champion {
    display: inline-block;
    margin: 20px;
}

.champion a {
    text-align: center;
    text-decoration: none;
    color: Black;
    display: block;
}

.champion a:hover {
    color: gray;
}

.champion img {
    display: block;
}

.champion img:hover {
    filter: blur(2px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.pagination {
    text-align: center;
}

.pagination .first a {
    color: orange;
    text-decoration: none;
}

.pagination .first a:hover {
    color: red;
}

.pagination .previous a {
    color: orange;
    text-decoration: none;
}

.pagination .previous a:hover {
    color: red;
}

.pagination .current {
    color: darkred;
}

.pagination .page a {
    color: orange;
    text-decoration: none;
}

.pagination .page a:hover {
    color: red;
}

.pagination .next a {
    color: orange;
    text-decoration: none;
}

.pagination .next a:hover {
    color: red;
}

.pagination .last a {
    color: orange;
    text-decoration: none;
}

.pagination .last a:hover {
    color: red;
}

.menu {
    width: 100%;
    text-align: center;
    list-style: none;
}

.menu li {
    display: inline;
}

.menu a {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #16151b;
    margin: 0 15px;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
}

.menu a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #16151b;
    top: 47%;
    animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.menu a:hover:before {
    animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

@keyframes in {
    0% {
        width: 0;
        left: 0;
        right: auto;
    }
    100% {
        left: 0;
        right: auto;
        width: 100%;
    }
}

@keyframes out {
    0% {
        width: 100%;
        left: auto;
        right: 0;
    }
    100% {
        width: 0;
        left: auto;
        right: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.connect {
    text-align: center;
}

form {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

form div {
    position: relative;
}

form div input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

form div label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

form div input:focus ~ label,
form div input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-btn, .register-btn, #form_Search {
    font-family: Hack, monospace;
    background: #bf8544;
    color: #1d1d1d;
    cursor: pointer;
    font-size: 2em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    min-width: 250px;
}

.login-btn:hover, .register-btn:hover, #form_Search:hover {
    background: #6f2222;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.38);
    color: #ffffff;
}

