{% extends 'base.html.twig' %}

{% block title %}Champions list{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {{ menu | raw }}
        <h1>Champions list</h1>

        <ul>
            {% for champion in image_champions_paginated %}
                {% if champion != null %}
                    <div class="champion">
                        <a href="/champion/{{ champion.name }}">
                            <img
                                    src="http://ddragon.leagueoflegends.com/cdn/10.10.3208608/img/champion/{{ champion.image.full }}"/>
                            {{ champion.name }}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>

        {{ knp_pagination_render(image_champions_paginated) }}

    </div>
{% endblock %}
