{% extends 'base.html.twig' %}

{% block title %}{{ invocatorQueue1.summonerName }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {{ menu | raw }}

        <div>
            {{ invocatorQueue1.summonerName }}
            <img class="user-icon" src="https://ddragon.leagueoflegends.com/cdn/10.11.1/img/profileicon/{{ icon }}.png">
            <div class="card">
                <div class="rank">
                    <p>{{ invocatorQueue1.queueType }} : {{ invocatorQueue1.tier }} {{ invocatorQueue1.rank }}</p>
                    <p>
                    <p class="league-points">{{ invocatorQueue1.leaguePoints }} points</p>
                    {{ invocatorQueue1.wins }} W | {{ invocatorQueue1.losses }} L
                    </p>
                </div>
                <div class="rank">
                    <p>{{ invocatorQueue2.queueType }} : {{ invocatorQueue2.tier }} {{ invocatorQueue2.rank }}</p>
                    <p>
                    <p class="league-points">{{ invocatorQueue2.leaguePoints }} points</p>
                    {{ invocatorQueue2.wins }} W | {{ invocatorQueue2.losses }} L
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}